/* first section */

.first-container {
  /* border: 3px dotted goldenrod; */
  max-width: 716px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}
.first-container h3 {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  color: #282828;
}
.first-container h1 {
  font-size: 54px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 62px;
  text-align: center;
  color: #282828;
  margin-bottom: 16px;
}
.first-container p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  color: #5f6980;
}

/* second section */

.second-container {
  display: flex;
  margin: 48px auto;
  max-width: 1336px;
  width: 95%;
  /* background-color: antiquewhite; */
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 64px;
}

.block-divs {
  width: 310px;
  border: 1px solid #eaecf0;
  /* background-color: aqua; */
}

.img-div img {
  width: 100%;
}

.text-div-cont {
  width: 278px;
  margin: 0 auto;
}
.text-div-cont h2 {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 30px;
  color: #282828;
}
.text-div-cont h3 {
  color: #3e3e59;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.text-div-cont p {
  color: #5f6980;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.icons-div {
  margin-top: 24px;
  margin-left: 16px;
  margin: 24px 0 16px 16px;
  width: 140px;
  justify-content: space-between;
  /* background-color: blue; */
  display: flex;
}

.icons-div div {
  width: 36px;
  height: 36px;
  /* background-color: violet; */
  justify-content: space-between;
  border-radius: 100%;
  background-color: #f2f4f7;
}

.img-icon {
  margin: 9px;
  width: 18px;
  height: 18px;
}

/* footer section */

.footer-main-div {
  display: flex;
  justify-content: space-between;
  padding: 108px 60px 181px;
  background-color: #53535354;
  width: 100%;
}

.footer-icons {
  width: 104px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #1e1e1e;
  margin-left: 10px;
}

.footer-blocks:nth-child(1) {
  width: 318.05px;
}

.footer-blocks:nth-child(1) p {
  margin: 32px 0px 28px 10px;
  color: #535353;
  line-height: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.footer-blocks:nth-child(2) {
  width: 136px;
  /* background-color: antiquewhite; */
}

.footer-blocks:nth-child(2) h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
  font-family: "Inter", sans-serif;
  margin-bottom: 71px;
}

.footer-blocks:nth-child(2) li {
  font-weight: 400;
  font-size: 20px;
  line-height: 14px;
  font-family: "Inter", sans-serif;
  margin-bottom: 35px;
  color: #535353;
}

/* ეს ცუდად გამომივიდა, მაგრამ მეზარწბა შეცვლა :დ
    მაინტერესებს ორი მნიშვნელობის გადაცემა თუ შემიძლია 
    ნს ჩაილდისთვის, მაგ ნს-ჩაილდ(2)(3)?
*/

.footer-blocks:nth-child(3) {
  width: 199px;
  /* border:  3px solid red; */
}

.footer-blocks:nth-child(3) h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
  font-family: "Inter", sans-serif;
  margin-bottom: 71px;
}

.footer-blocks:nth-child(3) li {
  font-weight: 400;
  font-size: 20px;
  line-height: 14px;
  font-family: "Inter", sans-serif;
  margin-bottom: 35px;
  color: #535353;
}

.footer-blocks:nth-child(4) h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
  font-family: "Inter", sans-serif;
  margin-bottom: 71px;
}

.footer-blocks:nth-child(4) div {
  background-color: #054a68;
  width: 80px;
  padding: 14px 16px;
}

a {
  color: #535353;
}

.footer-blocks:nth-child(4) div > a {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter", sans-serif;
}